.App {
  width: 100%;
}

.App-header {
  background-color: #A05084;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
}

.Err {
  text-align: center;
}


#App-table {
	margin: 0 auto;
}

.App-titles-container {
	background-color: orange;
	
}


 tr:not(.App-titles-container):hover{
  cursor: pointer;
  background-color: #ccc;
}


th {
  font-size: large;
  text-align: left;
  padding: 10px;
  
}

td {
  font-size: large;
  text-align: left ;
  padding: 15px;
}





